!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "tmblrBot"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %script{:src => "js/bootstrap.min.js"}
    %link{:href => "themes/spacelab/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css", :rel => "stylesheet"}/
    %script{:src => "js/jquery.min.js"}
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")
   
    %link{:href => "https://app.divshot.com/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "https://app.divshot.com/css/bootstrap-responsive.css", :rel => "stylesheet"}/
    %link{:href => "https://app.divshot.com/css/divshot-util.css", :rel => "stylesheet"}/
    %link{:href => "https://app.divshot.com/css/divshot-canvas.css", :rel => "stylesheet"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} TmblrBot
          .navbar-content
            %ul.nav
              -if session[:user_id]
                -if params[:action] == 'new'
                  %li.active
                    %a{:href => "/images/new"} Upload
                -else
                  %li
                    %a{:href => "/images/new"} Upload

              -else
                -if params[:action] == 'index'
                  %li.active
                    %a{:href => "/"} Home
                -else
                  %li
                    %a{:href => "/"} Home


              -if params[:action] == 'about'  
                %li.active
                  %a{:href => "/about"} About
              -else
                %li
                  %a{:href => "/about"} About
          -if session[:user_id] 
            .btn-group.pull-right
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Account 
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "/users/#{session[:user_id]}/edit"} Settings
                %li
                  %a{:href => "/signout"} Sign Out
    .span9
      = bootstrap_flash
      = yield
    
      %footer
        %p.pull-left.muted You can always contact us at email@email.com 
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
